/* Import Tailwind CSS utilities */
@import "tailwindcss";

/* Set the entire page background to black */
body {
  background: #000000;
  body {
    color: #E5E5E5;
  }
}
p {
    color: #A0A0A0;
}
h1,h2{
  color: #ffffff;
}
h3,h4{
  color: #111827;
}
/* profile card */
/* Center the main avatar inside the card */
.pc-avatar-content .avatar {
  display: block;
  width: 90%;          /* make it big, but leave some padding */
  max-width: 90%;
  height: auto;
  margin: 0 auto;      /* centers horizontally */
  object-fit: cover;   /* keeps aspect ratio */
  border-radius: 15px; /* optional rounded corners */
  z-index: 2;          /* above animation layers */
}

.pc-card-wrapper {
  position: relative;   /* keep current positioning */
  top: -70px;           /* move card 50px up, adjust as needed */
  display: flex;
  justify-content: center;  /* keep it centered horizontally */
  z-index: 5;           /* above background animations */
}


















